     <div>
         <div>
           <button onClick="window.location.href='../users/add'">+ Add</button>
         </div>
         <div >
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].firstName%></td>
                    <td><%=data[i].lastName%></td>
                    <td><%=data[i].age%></td>
                    
                    <td>
                        <a class="a-inside edit" href="../users/edit/<%=i+1%>">Edit</a>
                       
                        <a class="a-inside delete" href="../users/delete/<%=i+1%>">Delete</a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        

