<script>
 function deleteSend(id){
    console.log("delete");
    var xhr = new XMLHttpRequest();

   
    xhr.open("DELETE", '/users/delete/'+id, true)
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')

    xhr.onreadystatechange = function() {
        if (this.readyState != 4) return;
        //document.write(this.responseText);
        window.location.href='/users';
    }

   xhr.send(); 
   
}
</script>
     <div>
         <div>
           <button onClick="window.location.href='../users/add'">+ Add</button>
         </div>
         <div >
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].firstName%></td>
                    <td><%=data[i].lastName%></td>
                    <td><%=data[i].age%></td>
                    
                    <td>
                        <a  href="../users/edit/<%=i+1%>">Edit</a>
                        <a  href="../users/"  onclick ="deleteSend(<%=i+1%>)">Del</a>
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        

